#[async_trait::async_trait]
pub trait {{ ident }} {
    {% for method in methods %}
        async fn {{ method.name }}<'a>(&'a self{% if method.params | length > 0 %}, {{ method.params | join(", ") }}{% endif %}) -> Result<{{ method.ret }}, xidl_jsonrpc::Error>;
    {% endfor %}
}

{% for method in methods %}
    #[derive(::serde::Serialize, ::serde::Deserialize)]
    struct {{ method.params_struct }} {
        {% for field in method.params_fields %}
            {{ field.name }}: {{ field.ty }},
        {% endfor %}
    }
{% endfor %}

pub struct {{ ident }}Server<T> {
    inner: T,
}

impl<T> {{ ident }}Server<T> {
    pub fn new(inner: T) -> Self {
        Self { inner }
    }
}

#[async_trait::async_trait]
impl<T> xidl_jsonrpc::Handler for {{ ident }}Server<T>
where
T: {{ ident }} + Send + Sync,
{
    async fn handle(&self, method: &str, params: ::serde_json::Value) -> Result<::serde_json::Value, xidl_jsonrpc::Error> {
        match method {
            {% for method in methods %}
                "{{ method.rpc_name }}" => {
                    {% if method.params | length > 0 %}
                        let params: {{ method.params_struct }} = ::serde_json::from_value(params)
                            .map_err(|err| xidl_jsonrpc::Error::invalid_params(err.to_string()))?;
                    {% endif %}
                    {% if method.args | length > 0 %}
                        let result = self.inner.{{ method.name }}({% for arg in method.args %}params.{{ arg }}{% if not loop.last %}, {% endif %}{% endfor %}).await?;
                    {% else %}
                        let result = self.inner.{{ method.name }}().await?;
                    {% endif %}
                    Ok(::serde_json::to_value(result)?)
                }
            {% endfor %}
            _ => Err(xidl_jsonrpc::Error::method_not_found(method)),
        }
    }
}

pub struct {{ ident }}Client<R, W> {
    client: tokio::sync::Mutex<xidl_jsonrpc::Client<tokio::io::BufReader<R>, W>>,
}

impl<R, W> {{ ident }}Client<R, W>
where
R: tokio::io::AsyncRead + Unpin + Send,
W: tokio::io::AsyncWrite + Unpin + Send,
{
    pub fn new(reader: R, writer: W) -> Self {
        Self {
            client: tokio::sync::Mutex::new(xidl_jsonrpc::Client::new(tokio::io::BufReader::new(reader), writer)),
        }
    }
}

#[async_trait::async_trait]
impl<R, W> {{ ident }} for {{ ident }}Client<R, W>
where
R: tokio::io::AsyncRead + Unpin + Send,
W: tokio::io::AsyncWrite + Unpin + Send,
{
    {% for method in methods %}
        async fn {{ method.name }}(& self{% if method.params | length > 0 %}, {{ method.params | join(", ") }}{% endif %}) -> Result<{{ method.ret }}, xidl_jsonrpc::Error> {
        let params = {{ method.params_struct }} {
            {% for field in method.params_fields %}
                {{ field.name }},
            {% endfor %}
        };

        let mut client = self.client.lock().await;
        client.call("{{ method.rpc_name }}", params).await
    }
{% endfor %}
}
