/target
Cargo.lock
xidl-playground/.next
xidl-playground/out
xidl-playground/public/wasm
website/dist
website/.astro
website/.netlify
node_modules
typescript/xidl-typescript-codec/dist/
typescript/xidl-typescript-server/dist/
/bdd/gen/
/bdd/.temp/
/python/tests/generated/
