{#- Generated shapes follow the IDL, not house style. -#}
#[allow(clippy::too_many_arguments, clippy::large_enum_variant)]
pub mod {{ ident }} {
    {%- for def in definitions %}
        {{- def }}
    {%- endfor %}
}
