{%- if optional %}
    {%- if ty == "string" %}
        if {{ field }} != nil { httpReq.Header.Set("{{ wire_name }}", *{{ field }}) }
    {%- elif ty == "uint32" %}
        if {{ field }} != nil { httpReq.Header.Set("{{ wire_name }}", xidlgohttp.FormatUint32(*{{ field }})) }
    {%- endif %}
{%- else %}
    {%- if ty == "string" %}
        httpReq.Header.Set("{{ wire_name }}", {{ field }})
    {%- elif ty == "uint32" %}
        httpReq.Header.Set("{{ wire_name }}", xidlgohttp.FormatUint32({{ field }}))
    {%- endif %}
{%- endif %}
