{%- for line in doc %}
    /// {{ line }}
{%- endfor %}
{% for attr in rust_attrs %}
    #[{{ attr }}]
{% endfor %}
{% if derive and derive | length > 0 %}
    #[derive({{ derive | join(", ") }})]
{% endif %}
#[derive(Default)]
pub struct {{ ident }} {
    pub value: u32,
}

impl {{ ident }} {
    {% for value in values %}
        {%- for line in value.doc %}
            /// {{ line }}
        {%- endfor %}
        {% for attr in value.rust_attrs %}
            #[{{ attr }}]
        {% endfor %}
        pub const {{ value.name }}: u32 = 1u32 << {{ value.position }};
    {% endfor %}
}
