pub struct {{ ident }} {
{% if parent %}
    pub base: {{ parent }},
{% endif %}
{% for field in fields %}
{% if field.name %}
    pub {{ field.name }}: {{ field.ty }},
{% endif %}
{% endfor %}
}

impl xidl_xcdr::XcdrSerialize for {{ ident }} {
    fn serialize_with<S: xidl_xcdr::XcdrSerializer + ?Sized>(
        &self,
        serializer: &mut S,
    ) -> xidl_xcdr::error::XcdrResult<()> {
        serializer.begin_struct()?;
{% if parent %}
        xidl_xcdr::XcdrSerialize::serialize_with(&self.base, serializer)?;
{% endif %}
{% set ns = namespace(field_id=1) %}
{% for field in fields %}
{% if field.name %}
        serializer.begin_field(xidl_xcdr::FieldId({{ ns.field_id }}u32), false, 0)?;
        xidl_xcdr::XcdrSerialize::serialize_with(&self.{{ field.name }}, serializer)?;
        serializer.end_field()?;
{% set ns.field_id = ns.field_id + 1 %}
{% endif %}
{% endfor %}
        serializer.end_struct()?;
        Ok(())
    }
}

impl xidl_xcdr::XcdrDeserialize for {{ ident }} {
    fn deserialize<D: xidl_xcdr::XcdrDeserializer + ?Sized>(
        deserializer: &mut D,
    ) -> xidl_xcdr::error::XcdrResult<Self> {
{% if parent %}
        let base = xidl_xcdr::XcdrDeserialize::deserialize(deserializer)?;
{% endif %}
{% for field in fields %}
{% if field.name %}
        let {{ field.name }} = xidl_xcdr::XcdrDeserialize::deserialize(deserializer)?;
{% endif %}
{% endfor %}
        Ok(Self {
{% if parent %}
            base,
{% endif %}
{% for field in fields %}
{% if field.name %}
            {{ field.name }},
{% endif %}
{% endfor %}
        })
    }
}
