{%- for line in doc %}
    /// {{ line }}
{%- endfor %}
{% for attr in rust_attrs %}
    #[{{ attr }}]
{% endfor %}
{% if derive and derive | length > 0 %}
    #[derive({{ derive | join(", ") }})]
{% endif %}
pub struct {{ ident }} {
    {% if parent %}
        pub base: {{ parent }},
    {% endif %}
    {% for field in fields %}
        {% if field.name %}
            {% for attr in field.rust_attrs %}
                #[{{ attr }}]
            {% endfor %}
            pub {{ field.name }}: {{ field.ty }},
        {% endif %}
    {% endfor %}
}

impl {{ ident }} {
}
