{% if doc and doc | length > 0 %}
    {%- for line in doc %}
        /// {{ line }}
    {%- endfor %}
{% endif %}
#[derive(
    Debug,
    Clone,
    Copy,
    PartialEq,
    Eq{% if has_serde_serialize %},
    ::serde::Serialize{% endif %}{% if has_serde_deserialize %},
    ::serde::Deserialize{% endif %}
)]
pub enum {{ ident }} {
    {% for member in members %}
        {% if member.doc and member.doc | length > 0 %}
            {%- for line in member.doc %}
                /// {{ line }}
            {%- endfor %}
        {% endif %}
        {% if (has_serde_serialize or has_serde_deserialize) and member.serde_rename is defined and member.serde_rename %}
            #[serde(rename = "{{ member.serde_rename }}")]
        {% endif %}
        {{ member.name }}{% if not loop.last %},{% endif %}
    {%- endfor %}
}

{% if opt.enable_serialize %}
    impl xidl_xcdr::XcdrSerialize for {{ ident }} {
        fn serialize_with<S: xidl_xcdr::XcdrSerializer + ?Sized>(
        &self,
        serializer: &mut S,
        ) -> xidl_xcdr::error::XcdrResult<()> {
            let value = *self as u32;
            xidl_xcdr::XcdrSerialize::serialize_with(&value, serializer)
        }
    }
{% endif %}

{% if opt.enable_deserialize %}
    impl xidl_xcdr::XcdrDeserialize for {{ ident }} {
        fn deserialize<D: xidl_xcdr::XcdrDeserializer + ?Sized>(
        deserializer: &mut D,
        ) -> xidl_xcdr::error::XcdrResult<Self> {
            let value: u32 = xidl_xcdr::XcdrDeserialize::deserialize(deserializer)?;
            match value {
                {% for member in members %}
                    {{ loop.index0 }} => Ok(Self::{{ member.name }}),
                {% endfor %}
                _ => Err(xidl_xcdr::error::XcdrError::Message(format!(
                "invalid {{ ident }} discriminant: {}",
                value
                ))),
            }
        }
    }
{% endif %}
