{%- for line in doc %}
    /// {{ line }}
{%- endfor %}
{% for attr in rust_attrs %}
    #[{{ attr }}]
{% endfor %}
#[derive(
Debug,
Clone,
Copy,
PartialEq,
Eq,
{% if has_serde_serialize %}
    ::serde::Serialize,
{% endif %}
{% if has_serde_deserialize %}
    ::serde::Deserialize,
{% endif %}
{% if members | length != 0 %}
    Default,
{% endif %}
)]
pub enum {{ ident }} {
    {% for member in members %}
        {%- for line in member.doc %}
            /// {{ line }}
        {%- endfor %}
        {% for attr in member.rust_attrs %}
            #[{{ attr }}]
        {% endfor %}
        {% if (has_serde_serialize or has_serde_deserialize) and member.serde_rename is defined and member.serde_rename %}
            #[serde(rename = "{{ member.serde_rename }}")]
        {% endif %}
        {% if member.is_default %}
            #[default]
        {% endif %}
        {{ member.name }},
    {%- endfor %}
}

{% if members | length == 0 %}
    impl Default for {{ ident }} {
        fn default() -> Self {
            panic!("{{ ident }} has no variants")
        }
    }
{% endif %}
