{%- for line in doc %}
    /// {{ line }}
{%- endfor %}
{% for attr in rust_attrs %}
    #[{{ attr }}]
{% endfor %}
{% if opt.mock -%}
    #[allow(deprecated, useless_deprecated)]
    #[mockall::automock]
{%- endif %}
pub trait {{ ident }} {
    {% for method in methods %}
        {%- for line in method.doc %}
            /// {{ line }}
        {%- endfor %}
        {% for attr in method.rust_attrs %}
            #[{{ attr }}]
        {% endfor %}
        fn {{ method.name }}(
        &self,
        {{ method.params | join(", ") }}
        ) -> {{ method.ret }};
    {% endfor %}
}
