{%- for line in doc %}
    /// {{ line }}
{%- endfor %}
{% for attr in rust_attrs %}
    #[{{ attr }}]
{% endfor %}
{%- if derive and derive | length > 0 %}
    #[derive({{ derive | join(", ") }})]
{%- endif %}
{% if opt.enable_default_derive is undefined or opt.enable_default_derive %}
    #[derive(Default)]
{% endif %}
pub struct {{ ident }} {
    {% if parent %}
        pub base: {{ parent }},
    {% endif %}
    {%- for member in members %}
        {%- for line in member.doc %}
            /// {{ line }}
        {%- endfor %}
        {% for attr in member.rust_attrs %}
            #[{{ attr }}]
        {% endfor %}
        {% if opt.enable_serialize and opt.enable_deserialize and enable_serde_attrs and member.serde_rename is defined and member.serde_rename %}
            #[serde(rename = "{{ member.serde_rename }}")]
        {% endif %}
        pub {{ member.name }}: {{ member.ty }},
    {%- endfor %}
}

impl {{ ident }} {
}
