{%- if derive and derive | length > 0 %}
    #[derive({{ derive | join(", ") }})]
{%- endif %}
pub struct {{ ident }} {
    {% if parent %}
        pub base: {{ parent }},
    {% endif %}
    {%- for member in members %}
        pub {{ member.name }}: {{ member.ty }},
    {%- endfor %}
}

impl {{ ident }} {
    {% if opt.enable_serialize and opt.enable_deserialize %}
        pub const SERIALIZE_KIND: xidl_xcdr::SerializeKind =
        xidl_xcdr::SerializeKind::{{ serialize_kind }};
    {% endif %}
}

{% if opt.enable_serialize %}
    impl xidl_xcdr::XcdrSerialize for {{ ident }} {
        fn serialize_kind(&self) -> xidl_xcdr::SerializeKind {
            Self::SERIALIZE_KIND
        }

        fn serialize_with<S: xidl_xcdr::XcdrSerializer + ?Sized>(
        &self,
        serializer: &mut S,
        ) -> xidl_xcdr::error::XcdrResult<()> {
            serializer.begin_struct_with_kind(Self::SERIALIZE_KIND)?;
            {% if parent %}
                xidl_xcdr::XcdrSerialize::serialize_with(&self.base, serializer)?;
            {% endif %}
            {% for member in members %}
                {% if member.field_id is not none %}
                    serializer.begin_field(xidl_xcdr::FieldId({{ member.field_id }}), false, 0)?;
                {% else %}
                    serializer.begin_field(xidl_xcdr::FieldId({{ loop.index }}u32), false, 0)?;
                {% endif %}
                xidl_xcdr::XcdrSerialize::serialize_with(&self.{{ member.name }}, serializer)?;
                serializer.end_field()?;
            {% endfor %}
            serializer.end_struct()?;
            Ok(())
        }
    }
{% endif %}

{% if opt.enable_deserialize %}
    impl xidl_xcdr::XcdrDeserialize for {{ ident }} {
        fn deserialize<D: xidl_xcdr::XcdrDeserializer + ?Sized>(
        deserializer: &mut D,
        ) -> xidl_xcdr::error::XcdrResult<Self> {
            {% if parent %}
                let base = xidl_xcdr::XcdrDeserialize::deserialize(deserializer)?;
            {% endif %}
            {% for member in members %}
                let {{ member.name }} = xidl_xcdr::XcdrDeserialize::deserialize(deserializer)?;
            {% endfor %}
            Ok(Self {
                {% if parent %}
                    base,
                {% endif %}
                {% for member in members %}
                    {{ member.name }},
                {% endfor %}
            })
        }
    }
{% endif %}