typedef struct {{ ident }} {
{% for field in fields %}
  {{ field.ty }} {{ field.ident }}; /* pos {{ field.pos }} */
{% endfor %}
} {{ ident }};

{{ ident }} {{ ident }}_new(void);
void {{ ident }}_init({{ ident }}* self);
unsigned int {{ ident }}_bits({{ ident }} const* self);
bool {{ ident }}_is_empty({{ ident }} const* self);
bool {{ ident }}_is_all({{ ident }} const* self);
bool {{ ident }}_contains({{ ident }} const* self, {{ ident }} const* other);
bool {{ ident }}_intersects({{ ident }} const* self, {{ ident }} const* other);
void {{ ident }}_insert({{ ident }}* self, {{ ident }} const* other);
void {{ ident }}_remove({{ ident }}* self, {{ ident }} const* other);
void {{ ident }}_toggle({{ ident }}* self, {{ ident }} const* other);
void {{ ident }}_set({{ ident }}* self, {{ ident }} const* other, bool value);
