typedef struct {{ ident }} {
{% for field in members %}
  {{ field.ty }} {{ field.name }}{{ field.dims | join }};
{% endfor %}
} {{ ident }};

inline {{ ident }} {{ ident }}_new(void) {
  {{ ident }} value;
  {{ ident }}_init(&value);
  return value;
}

inline void {{ ident }}_init({{ ident }}* self) {
  *self = ({{ ident }}){0};
}
