typedef struct {{ ident }} {
{% for field in members %}
  {{ field.ty }} {{ field.name }}{{ field.dims | join }};
{% endfor %}
} {{ ident }};

{{ ident }} {{ ident }}_new(void);
void {{ ident }}_init({{ ident }}* self);
