typedef struct {{ ident }} {
    {{ switch_ty }} _d;
    union {
        {% for case in cases %}
            {{ case.ty }} {{ case.name }}{{ case.dims | join }};
        {% endfor %}
    } _u;
} {{ ident }};

{{ ident }} {{ ident }}_new(void);
void {{ ident }}_init({{ ident }}* self);
