typedef struct {{ ident }} {
  {{ switch_ty }} _d;
  union {
{% for case in cases %}
    {{ case.ty }} {{ case.name }}{{ case.dims | join }};
{% endfor %}
  } _u;
} {{ ident }};

inline {{ ident }} {{ ident }}_new(void) {
  {{ ident }} value;
  {{ ident }}_init(&value);
  return value;
}

inline void {{ ident }}_init({{ ident }}* self) {
  *self = ({{ ident }}){0};
}
