struct {{ ident }} {
    enum _flags : uint32_t {
{% for value in values %}
        {{ value.name }} = 1u << {{ value.index }}{% if not loop.last %},{% endif %}
{% endfor %}
    };

    uint32_t _value{0};
    constexpr uint32_t operator()() const { return _value; }
    constexpr operator uint32_t() const { return _value; }
    constexpr {{ ident }}() = default;
    constexpr {{ ident }}(uint32_t v) : _value(v) {}
    {{ ident }}& operator|=(uint32_t other) { _value |= other; return *this; }
    {{ ident }}& operator&=(uint32_t other) { _value &= other; return *this; }
    {{ ident }}& operator^=(uint32_t other) { _value ^= other; return *this; }
};

template <>
struct xidl::xcdr::Traits<{{ ident }}> {
  template <typename Codec>
  static inline xidl::xcdr::BufferResult serialize(xidl::xcdr::Serializer<Codec>& ser, const {{ ident }}& value) {
    return ser.write(value._value);
  }

  template <typename Codec>
  static inline xidl::xcdr::BufferResult deserialize(xidl::xcdr::Deserializer<Codec>& de, {{ ident }}& value) {
    uint32_t raw = 0;
    xidl::xcdr::BufferResult res = de.read(raw);
    if (res.ok()) {
      value._value = raw;
    }
    return res;
  }
};
