{% if doc and doc | length > 0 %}
    /**
    {% for line in doc %} * {{ line }}
    {% endfor %} */
{% endif %}
export type {{ ident }} = {% if members | length == 0 %}never{% else %}{% for member in members %}"{{ member }}"{% if not loop.last %} | {% endif %}{% endfor %}{% endif %};
