{% if values | length == 0 %}export const {{ schema_name }} = z.never();
{% else %}export const {{ schema_name }} = z.enum([{{ values | join(", ") }}]);
{% endif %}export type {{ ident }} = z.infer<typeof {{ schema_name }}>;