{% from "macros.j2" import render_zod %}
export const {{ schema_name }}Schema = {% if values | length == 0 %}z.never(){% else %}z.enum([{% for value in values %}"{{ value }}"{% if not loop.last %}, {% endif %}{% endfor %}]);{% endif %}
