export const {{ schema_name }} = z.object({
    {% for param in params %}    {{ param.prop }}: {{ param.schema }}{% if param.optional %}.optional(){% endif %},
    {% endfor %}});
export type {{ name }} = z.infer<typeof {{ schema_name }}>;
