{% from "macros.j2" import render_zod %}
export const {{ schema_name }}Schema = {% if variants | length == 0 %}z.never(){% elif variants | length == 1 %}{{ render_zod(variants[0]) }}{% else %}z.union([{% for variant in variants %}{{ render_zod(variant) }}{% if not loop.last %}, {% endif %}{% endfor %}]);{% endif %}
