from __future__ import annotations

import abc
from dataclasses import dataclass
from typing import Optional

from xidl.http import (
    Request,
    Route,
    RouteMetadata,
    SecurityRequirement,
    ServerStreamResponse,
    StreamMetadata,
    cookie_value,
    encode_json_response,
    encode_stream_response,
    header_value,
    path_value,
    query_value,
    read_json_body,
    read_json_field,
    read_scalar,
    require_accept,
    require_content_type,
    require_security,
)

# generated http module: {{ module_name }}

{{ body }}
